@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#home{
    background-image:  url('./images/bg.jfif');
    width: 100%;
height: 100vh;
    background-size: cover;
}

body {
    background-color: #07221c;
    height: 100vh;
}

.navigation-slide {
    width: 100px;
}

*{
    margin: 0;
    padding: 0;
}

/* https://i.pinimg.com/564x/6f/d1/af/6fd1afb3677ec90b508a3743137659aa.jpg */